<div class="container-fluid border">
    <h3>Recipe detail component</h3>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="button-group">
                <button class="btn btn-primary dropdown-toggle pull-right">Manage Recipe<span class="caret"
                        style="margin-left: 5%"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">Add</a></li>
                    <li><a href="">Edit</a></li>
                    <li><a href="">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Recipe name</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Description</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Ingredients</h4>
        </div>
    </div>
</div>